@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-primary-linear-gradient-top: #44a08d;
    --bg-primary-linear-gradient-bottom: #093637;
  }
}

body {
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to top,
      transparent,
      var(--bg-primary-linear-gradient-top)
    )
    var(--bg-primary-linear-gradient-bottom);
}
